/save/
*.py~
.*.py.un~
/rough
/data
/audios_msrvtt
/vid_feats
/only_fc2
/results
/save
/save_new
.gitignore~
.gitignore
/__pycache__
/bothFC2_C4
/only_fc2
/only_ac4
reprocess_audio.py
/saved_models
*.un~
*.*~
/onlyac4
/onlyfc2
AV_2/
AV_LC/
A_AV/
A_AVVP/
A_AV_AVVP/
OnlyAVVPChildSum/
only_avvp/

